<div class="navbar-collapse pull-right navbar-inverse navbar" ng-controller="CartController">
  <ul class="nav navbar-nav">
    <li> Demo App on Passing value between controllers</li>
    <li><a href="cart.html.erb">Cart: {{ books.length }}</a></li>
    <li><a>{{ watch.now | date:"medium"}} </a></li>
  </ul>
</div>