<!DOCTYPE html>
<html>
  <head>
    <title>Demo App</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript"
src="http://code.angularjs.org/1.2.28/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="demoApp">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <div ng-include="'nav.html'"></div>
          <ui-view></ui-view>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="/index.html">
      <div class="page-header">
      <h1>Passing values between controllers </h1>
          </div>
          <div class="panel panel-default" ng-controller="BookController">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Price</th>
              <th>Ordered Quantity</th>
              <th>Add to Cart</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="book in books">
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.price}}</td>
              <td >{{book.orderQuantity}}</td>
              <td ng-controller = "CartController"><button ng-click="addToCart(book)">Add to Cart </button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <a href="#/cart" class="btn btn-default btn-primary">Proceed to checkout</a>
      </div>
          </div>
    </script>
    <script type="text/ng-template" id="/cart.html">
      <div class="page-header">
      <h1>Book Invoice</h1>
          </div>
          <div class="panel panel-default" ng-controller="CartController">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tfoot>
      		<tr>
      			<td>Total</td>
      			<td> </td>
      			<td> </td>
      			<td></td>
      			<td>{{order.totalAmount}}</td>
      		</tr>
          </tfoot>
          <tbody>
            <tr ng-repeat="book in order.orderBooks" ng-if="book.orderQuantity != 0">
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.price}}</td>
              <td>{{book.orderQuantity}}</td>
              <td> {{book.price * book.orderQuantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <a href="#/home">Back home</a>
      </div>
          </div>
    </script>
  </body>
</html>
